@import '../../variables';

.studies-section {
  width: 100%;
  .studies-section__title {
    color: $third-color;
    margin-top: 30px;
  }
  .studies-container {
    display: flex;
    gap: 15px;
    width: 100%;

    @media (max-width: 860px) {
      flex-direction: column;
      align-items: center;
    }
    
    .studies-container--left,
    .studies-container--right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;

      .study-card {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        position: relative;
        width: 100%;
        height: 190px;
        padding: 15px;
        border-radius: 20px;
        backdrop-filter: blur(70px);
        
        .study-card__button {
          position: absolute;
          transform: translate(-50%,-50%);
          top: 10px;
          left: -2px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          background: $secondary-color;
          transition: all 0.2s ease-in-out;
        }
        .study-card__button:hover {
          box-shadow: 0 0 10px 5px rgba(93, 41, 230, 0.7);
        }
        .study-card__title {
          color: $third-color;
        }
        .study-card__text {
          margin-top: 5px;
        }
        .study-card__image {
          width: 70%;
          object-fit: cover;
        }
        .study-card__image.platzi {
          margin-top: 41px;
        }
        .study-card__image.unal {
          margin-top: 5px;
        }
      }
      .study-card.--big {
        height: 100%;
        .study-card__list {
          margin-top: 20px;
          list-style: circle;
        }
      }
    }
  }
}