@import '../../_variables.scss';

.about {
  position: relative;
  width: 60vw;
  padding: 20px 30px;
  margin: 30px 0;
  backdrop-filter: blur(70px);
  border-radius: 20px;

  @media (max-width: 800px) {
    width: 80vw;
  }

  .about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: $secondary-color;
  }
  .about__title {
    color: $third-color;
  }
  .about__text {
    span {
      display: block;
      margin: 15px 60px;

      @media (max-width: 800px) {
        margin: 15px 0;
      }
    }
    img {
      position: absolute;
      transform-origin: center;
      width: 130px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(12, 21, 36, 0.6);
      margin-top: 10px;

      @media (max-width: 800px) {
        position: static;
        width: 60%;
      }
    }
    .image1 {
      top: 30px;
      left: -50px;
    }
    .image2 {
      top: 230px;
      right: -50px;
    }
    .image3 {
      top: 430px;
      left: -50px;
    }
    .image4 {
      top: 600px;
      right: -50px;
    }
  }
}